<div class="body">
  <%= render partial: 'layouts/global_header', locals: header_props()%>
  <input type="hidden" value="grid" id="view" name="view">
  <section class="main_section--light" style="background:url(https://vint.fi/static_images/vint-background.jpg)">
    <div class="main_content">
        <div class="main_content-container">
          <h1 class="main_title"> <%= community_slogan.html_safe%> </h1>
          <h3 class="main_subtitle">Lisää tyhjä varastotilasi tai vuokraa naapurin varasto helposti ja edullisesti</h3>
          <div class="main_search-bar-padding">
            <%=form_tag search_with_locale_path, id: 'search_form', class: 'main_search-bar--combined', method: :get do%>
              <div class="main_search-input-container--combined">
								<i class="main_search-icon--combined"><i class="fa fa-search" aria-hidden="true" style="font-size: 22px;font-weight: 100;"></i></i>
                <!-- <input type="text" placeholder="Syötä esim. kaupunki tai postinumero" id="searchField" name="q"> -->
                <%= text_field_tag "q", params[:q], :style => 'border:0;', :class => 'main_keyword-search-input--combined',:placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need") %>
              </div>
                <button style="margin:0!important" type="submit" id="search-button" class="main_search-button main_search-button--combined">
                  Etsi
                </button>
            <%end%>
          </div>

          <div style="margin-top:10px">
            <a href="/lists/" style="color:white;">Näytä kaikki </a> <span style="color:white;">|</span> <a href="/fi/listings/new" style="color:white;"> Tyhjä varasto? Ilmoita tilasi </a>
          </div>
        </div>
    </div>
  </section>

  <div role="main" class="main">
  </div>
  <section style="padding:50px 0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h2 class="mt-xl"><strong style="color:#00CDBE">Vint</strong> on varastotilojen markkinapaikka</h2>
          <p class="lead mb-xl">Tarjoamme parhaan mahdollisen markkinapaikan tyhjälle tilallesi oli se
            <br>sitten vinttikomero, kellaritila, tyhjä huone, autokatos tai autotalli.
          </p>
        </div>
        <div class="divider divider-primary divider-large divider-medium-center mb-xl">
          <hr>
        </div>
      </div>
      <div class="row mt-xl">
        <div class="col-md-12">
							<div style="width: 80%;max-width: 640px;margin: 0 auto;">
							<div style="position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/EkVKT3iUXfI" frameborder="0" allowfullscreen></iframe></div></div>
							</div>
      </div>
    </div>
    <div class="divider divider-primary divider-large divider-medium-center mb-xl">
          <hr>
        </div>
  </section>
  <div class="container">
    <div class="row mt-xl mb-xl">
      <div class="col-md-6">
        <!-- <img class="img-responsive mt-xl appear-animation" src="mac_vint.png" alt="" data-appear-animation="fadeInLeft"> -->
        <%=image_tag 'mac_vint.png', :class => 'img-responsive mt-xl appear-animation'%>
      </div>
      <div class="col-md-6" style="text-align:center; margin-top:90px">
        <h2 class="mt-xl">Näin Vint toimii</h2>
        <p class="lead mb-xl">
          Selaa edullisia varastotiloja läheltäsi, varaa tila haluamallesi ajanjaksolle ja siirrä tavarasi.
        </p>
        <div class="call-to-action-btn">
          <a href="/infos/how_to_use" class="btn btn-lg btn-primary"><i class="fa fa-cark mr-xs"></i> Lue lisää</a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-default mb-none">
    <div class="container">
      <div class="row mt-xl mb-xl">
        <div class="col-md-6" style="text-align:center" data-appear-animation="fadeInLeft">
          <h2 class="mt-xl">Tilan <strong><span style="color:#00CDBE">tarvitsija</span></strong></h2>
          <p class="lead mb-xl">Löydä tila läheltäsi</p>
          <p>Selaa edullisia varastotiloja läheltäsi, varaa tila haluamallesi ajanjaksolle ja siirrä tavarasi.</p>
          <div class="call-to-action-btn">
            <a href="/?view=list" class="btn btn-lg btn-primary"><i class="fa fa-cark mr-xs"></i> Selaa </a>
          </div>
        </div>
        <div class="col-md-6" style="text-align:center" data-appear-animation="fadeInRight">
          <h2 class="mt-xl">Tilan<strong> <span style="color:#00CDBE">tarjoaja</span></strong></h2>
          <p class="lead mb-xl">Tienaa tyhjällä tilallasi</p>
          <p>Tarjoamme parhaan mahdollisen markkinapaikan tyhjälle tilallesi oli se sitten vinttikomero, kellaritila, tyhjä huone tai vaikkapa autotalli.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h2 class="mt-xl">Miksi <strong><span style="color:#00CDBE">Vint?</span></strong></h2>
        <p class="lead mb-xl">Toimintamme keskipisteinä ovat hyvät arvot ja kestävä kehitys. Tässä muutama syy käyttää Vinttiä:</p>
        <hr class="invisible">
      </div>
    </div>
    <div class="row">
      <div class="counters">
        <div class="col-md-3 col-sm-6">
          <div class="counter counter-dark" data-appear-animation="fadeInRight">
            <i class="fa fa-lock" style="color: #00CDBE"></i>
            <h2 class="mt-xl">Turvallisuus</h2>
            <p>Huolehdimme että tavarasi ovat turvassa.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter counter-dark" data-appear-animation="fadeInRight">
            <i class="fa fa-money" style="color: #00CDBE"></i>
            <h2 class="mt-xl">Edullisuus</h2>
            <p>Vintillä on edullista.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter counter-dark" data-appear-animation="fadeInLeft">
            <i class="fa fa-map-marker" style="color: #00CDBE"></i>
            <h2 class="mt-xl">Sijainti</h2>
            <p>Tarjoamme varastotiloja läheltäsi, siellä missä sinä niitä tarvitset. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter counter-dark" data-appear-animation="fadeInLeft">
            <i class="fa fa-leaf" style="color: #00CDBE"></i>
            <h2 class="mt-xl">Ekologisuus</h2>
            <p>Laitamme tyhjät tilat hyötykäyttöön.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/fi_footer'%>
