//= require application
//= require header.rtl

.centered-section{
  max-width: 30.5em;
}

.people-side-wrapper{
  padding: 0 10px !important;
}
.fluid-thumbnail-grid-image-price-container{
  left: unset;
}

.home-toolbar-button-group-button:first-child{
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;

  -webkit-border-bottom-right-radius: 0.375em;
  -moz-border-radius-bottomright: 0.375em;

  border-top-right-radius: 0.375em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.375em;
}

.home-toolbar-button-group-button:last-child{
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;

  -webkit-border-bottom-left-radius: 0.375em;
  -moz-border-radius-bottomleft: 0.375em;

  border-top-left-radius: 0.375em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.375em;
}

.datepicker.dropdown-menu{
  left:auto;
  right:unset;
}

.datepicker-dropdown.datepicker-orient-left:before, .datepicker-dropdown.datepicker-orient-left:after{
  right:  6px;
  left:unset;
}

.datepicker-dropdown.datepicker-orient-right:before, .datepicker-dropdown.datepicker-orient-right:after{
  left:  6px;
  right:unset;
}