@mixin header-toggle-menu {
  min-width: em(200);
  position: absolute;
}

@media(max-width: 768px) {
  .header-toggle-menu-menu {
    @include header-toggle-menu;
    left: 0 !important;
    right: auto !important;
  }

  .header-toggle-menu-user{
    right: 0 !important;
  }
}

.chosen-container.chosen-with-drop .chosen-drop{
  right: 0 !important;
  left: auto !important;
}
